.table {
  &--ghost {
    width: 100%;
    tbody {
      tr {
        display: flex;
        align-items: center;
        height: 44px;

        &:last-child {
          border-bottom: 1px solid $grey-6;
        }

        &:not(:first-child) {
          border-top: 1px solid $grey-6;
        }

        td {
          display: flex;
        }
      }
    }
  }
}
