.login-container {
  flex-direction: column-reverse;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: rgba($login-bg, 0.15);
  @include r(1024) {
    flex-direction: row;
    padding: 0;
    height: 100vh;
  }
}

.signup {
  flex: 1;
  width: 100%;
  background: $white;
  border-radius: 4px;
  border: 1px solid $white5;
  padding: 16px 30px;
  text-align: left;

  @include r(1024) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    max-width: 320px;
    min-height: 625px;
    margin-right: 15px;
    text-align: center;
  }

  &-title {
    @include geomanist-regular;
    color: $black-5;
    font-size: $body;
    letter-spacing: 0px;
    line-height: 20px;
    margin-bottom: 8px;
    display: block;

    @include r(1024) {
      order: -1;
      font-size: $font-size-base;
    }
  }

  &-image {
    padding: 5px;
    width: 88px;
    height: auto;
    float: right;

    @include r(1024) {
      width: auto;
      padding: 30px 0;
    }
  }

  &-content {
    text-align: left;
    @include r(1024) {
      text-align: center;
    }

    &__heading {
      color: $black-2;
      @include geomanist-book;
      font-size: $body2;
      margin-bottom: 8px;
    }
    &__text {
      display: none;
      @include r(1024) {
        @include geomanist-regular;
        display: block;
        color: $black-5;
        font-size: $font-size-base;
        height: 40px;
        letter-spacing: 0px;
        line-height: 20px;
        margin-bottom: 8px;
      }
    }
    &__btn {
      @include geomanist-book;
      font-size: $font-size-base;
      height: 20px;
      letter-spacing: 0px;
      line-height: 20px;
      text-align: left;
      text-decoration: none;
      @include r(1024) {
        text-align: center;
      }
    }
  }
}

.signin {
  flex: auto;
  width: 100%;
  background: $white;
  border-radius: 4px;
  border: 1px solid $white5;
  padding: 30px;
  text-align: center;
  margin-bottom: 10px;

  @include r(1024) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 70px;
    max-width: 460px;
    min-height: 625px;
    margin-bottom: 0px;
  }

  .ant-form-item {
    margin-bottom: 16px;
  }

  &-image {
    padding: 0 0 20px;
    width: 140px;
    @include r(1024) {
      width: 200px;
      padding: 30px 0;
    }
  }

  &-errors {
    background: rgba($red-5, 0.3);
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 14px;
    &__text {
      color: $black-2;
      @include geomanist-book;
      font-size: $body;
      letter-spacing: 0px;
      line-height: 18px;
      text-align: center;
    }
  }

  &-success {
    background: rgba($success, 0.3);
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 14px;
    &__text {
      color: $black-2;
      @include geomanist-book;
      font-size: $body;
      letter-spacing: 0px;
      line-height: 18px;
      text-align: center;
    }
  }

  &-buttons {
    .ant-divider-horizontal {
      margin: 24px 0 16px 0;
    }
    img {
      margin-top: 1%;
    }
  }

  &-buttons,
  &-form {
    width: 100%;
    .forgot {
      @include geomanist-book;
      font-size: $font-size-base;
      display: block;
      margin-bottom: 24px;
      text-align: left;
      padding: 0;
      border-radius: 0;
    }
  }

  &-forgot {
    &__heading {
      color: $black-2;
      @include geomanist-book;
      font-size: $body2;
      margin-bottom: 8px;
    }
    &__text {
      display: none;
      @include r(1024) {
        @include geomanist-regular;
        display: block;
        color: $black-5;
        font-size: $font-size-base;
        height: 40px;
        letter-spacing: 0px;
        line-height: 20px;
        margin-bottom: 8px;
      }
    }
  }
}
