.record-editor {
  .ant-btn {
    white-space: normal;
    height: auto;
  }

  %cardDefault {
    width: 100%;
    margin-bottom: 20px;
    min-height: 151px;
    border: 1px solid $white-8;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px 26px 20px;

    @include r(1024) {
      width: 199px;
    }
  };

  &__add__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

  &__card {
    @extend %cardDefault;

    &-label {
      color: $green-1;
      text-decoration: underline;
      margin-bottom: 5px;
      word-break: break-word;
      @include font-size($body2);
      @include geomanist-book;
  }

    &-sub-label {
      color: rgba($black,0.47);
      margin-bottom: 15px;
      @include font-size($body1);
      @include geomanist-regular;
  }

    &-edit {
      border: 1px solid $white-6;
      border-radius: 2px;
      display: flex;
      @include geomanist-book;

      &__btn {
        color: rgba($black, 0.87);
        width: 53px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        white-space: normal;
    }

      &__dropdown-btn {
        border-left: 1px solid $white-6;
        width: 34px;
        height: 34px;
        border-radius: 2px;
        display: flex;
        justify-content: center;
        align-items: center;

        .MuiSvgIcon-root {
          color: $black;
          font-size: 18px;
        }
    }
  }
}

  &__card__add__recc {
    @extend %cardDefault;
    border-style: dashed;
    justify-content: center;
}
}

.record-editor-none {
  padding: 30px;
  background: $white;
  border: 1px solid $white5;
  border-radius: 2px;
  display: flex;
  align-items: center;
  flex-direction: column;

  &__body-copy {
    margin: 20px 0 11px 0;
    text-align: center;
    @include geomanist-regular;
    color: $black-5;
    line-height: 22px;
  }
}
