.ant-message-notice-content {
  margin-top: 110px;
  padding: 10px 12px;
  box-shadow: 0 9px 28px 8px rgba(0, 0, 0, 0.05),
    0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08);

  @include r(1024) {
    margin-top: 65px;
  }

  .ant-message-custom-content {
    display: flex;

    .MuiSvgIcon-root {
      width: 18px;
      height: 18px;
      margin-right: 10px;

      &.snackbar-info-icon {
        fill: $blue-2;
      }

      &.snackbar-success-icon {
        fill: $green-4;
      }
    }
  }
}
