.forms-master {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .form-inner {
    display: flex;
    flex-direction: column;

    > div {
      width: 100%;
      margin-bottom: 25px;
      border-bottom: 1px solid $white;
      padding-bottom: 25px;
    }
  }
}

// !IMPORTANT: @kurt, this overides ant default behavior, commenting it for now
// .ant-form-item-has-error {
//   border: 1px solid $error;
// }

.ant-form-item-explain {
  color: $error;
}

.validation-states-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.input-actions {
  display: flex;
}

.ant-input {
  border-radius: $border-radius-base;
}

.ant-calendar-picker-icon,
.ant-select-arrow {
  color: $black;
}

.compound-form-wrapper {
  margin-bottom: 10px;
}

.ant-picker-suffix {
  .MuiSvgIcon-root {
    width: 16px;
    height: 16px;
    color: $black;
  }
}

.ant-select {
  .ant-select-arrow {
    display: flex;
    align-items: center;
    .MuiSvgIcon-root {
      width: 14px;
      height: 14px;
      color: $black;
    }
  }
}

.policy-opts {
  .ant-form {
    .dont-have-checkbox {
      .ant-form-item-control-input-content {
        display: flex;
        align-items: center;
      }
    }
    label {
      &.ant-checkbox-wrapper {
        display: inline;
        margin: 0 8px 0 0;
      }
    }
  }
}

.one-more-dont-have {
  border: 1px solid $white-9;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  .ant-checkbox-wrapper {
    display: inline;
    margin: 0 8px 0 0;
  }
}
