.recc-card-preview {
  background-color: $white;
  border-bottom: 1px solid $white5;
  border-radius: 4px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;

  @include r(1024) {
    order: 1;
    padding-bottom: 30px;
  }

  .top-section-preview {
    padding: 14px 14px 0 14px;
    display: flex;
    justify-content: space-between;
    width: 100%;

    @include r(1024) {
      width: 72%;
      padding: 14px 14px 0 25px;
      order: 1;
      flex-grow: 1;

      &.no-bottom-padding {
        padding-bottom: 0 !important;
      }
    }

    .success-check {
      display: flex;
      fill: $green-4;
      align-self: center;
    }

    .submitted-hourglass {
      display: flex;
      fill: $blue-2;
      align-self: center;
    }

    .waiting {
      display: flex;
      fill: $blue-1;
      align-self: center;
    }

    .top-section-inner {
      padding-right: 10px;
      .recomm-status-wrapper {
        margin-bottom: 10px;
        display: flex;

        @include r(1024) {
          margin-top: 10px;
        }

        .recomm-status {
          @include geomanist-book;
          border-radius: 2px;
          border: 1px solid;
          padding: 3px 7px;
          text-transform: capitalize;

          &.accepted {
            border-color: $green-2;
            background: $white3;
            color: $green-3;
          }

          &.waiting,
          &.Actionneeded,
          &.Submitted {
            border-color: $blue-3;
            background: $blue-4;
            color: $blue-1;
          }

          &.completed {
            border-color: $orange-1;
            background: $white-1;
            color: $orange-1;
          }

          &.Inprogress {
            border-color: $orange-1;
            background: $white-1;
            color: $orange-1;
          }

          &.Rejectedbyyou,
          &.removed,
          &.superceded,
          &.duplicate {
            border-color: $red-3;
            background: $red-light;
            color: $red-2;
          }
        }
      }

      .title {
        font-size: $body2;
        line-height: 22px;
        @include geomanist-book;
        color: rgba($black, 0.87);

        @include r(1024) {
          margin-bottom: 5px;
        }
      }
    }

    &.extra-bottom-padding {
      padding-bottom: 15px;
    }
  }

  .recomm-preview-actions {
    display: flex;
    flex-direction: column;
    padding: 16px 10px;
    border-radius: 0 0 4px 4px;

    .half-size-btn {
      width: calc(50% - 5px);
    }

    .apply-btn {
      text-decoration: none;
    }

    @include r(1024) {
      order: 2;
      padding: 5px 12px;
      background: none;
    }
  }
}

.plus-more-recomms {
  margin-top: 15px;
}
