.ant-menu-horizontal {
  border-bottom: 0;
  white-space: normal;
  > .ant-menu-item > .active-menu-item {
    .active-menu-item {
      &:hover {
        @include r(1024) {
          color: $white;
        }
      }
    }
  }
}

.ant-menu-item-selected {
  color: $dark;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: $white;
}

.ant-drawer-open {
  .ant-layout-sider {
    display: block;
    @include mobile() {
      background: transparent;
    }
  }
  .ant-menu {
    background: transparent;
  }
}

.ant-drawer-header {
  .ant-drawer-close {
    color: $sidenav-red;
  }
  .logo {
    width: 100px;

    @include r(1024) {
      margin: 0;
      width: 130px;
    }
  }
}

.ant-menu-inline {
  border-right: 0;
  padding: 15px 0;

  > .ant-menu-item {
    padding: 0 !important;
  }
  .ant-menu-submenu-title {
    padding: 0 !important;
  }
}

.link_cta {
  text-decoration: none;
}

.side-bar-nav {
  span {
    font-weight: bold;
    padding-bottom: 20px;
  }
  .sub-nav {
    border-left: 2px solid $grey-2;
    flex-direction: column;
    display: flex;
    margin-left: 10px;
    .nav-link-parent {
      &.active {
        @include geomanist-book;
        color: rgba($black, 0.87);
        &:before {
          content: "";
          border: 2px solid black;
          position: absolute;
          margin-left: -13px;
          height: 15px;
        }
      }
    }
  }
  display: none;
  background-color: $white2;
  padding: 26px 24px 0 24px;
  width: 306px;
  flex-direction: column;
  min-height: 100vh;

  .nav-link-parent {
    font-size: $body1;
    color: rgba($black, 0.64);
    margin-bottom: 18px;
    text-decoration: none;
    margin-left: 10px;

    &.active {
      @include geomanist-book;
      color: rgba($black, 0.87);
    }
  }

  @include r(1024) {
    display: flex;
  }
}

.notif-badge {
  .MuiBadge-badge {
    background-color: $primary;
    border: 1px solid $secondary;
  }
}

.top-nav-wrapper {
  position: relative;
  height: 100%;
  top: -1px;

  @include r(1024) {
    top: 0;
  }

  @mixin nav-fade {
    width: 16px;
    height: 53px;
    content: "";
    position: absolute;
  }

  &::after {
    @include nav-fade;
    background: linear-gradient(
      90deg,
      rgba(24, 48, 51, 0) 0%,
      rgb(24, 48, 51) 100%
    );
    bottom: 0;
    right: 0;
  }

  .top-nav-menu {
    display: flex;
    position: relative;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.27);
    background-color: $layout-header-background;
    width: 100vw;
    overflow: scroll;

    @include r(1024) {
      width: auto;
      height: 100%;
      box-shadow: none;
      margin-left: 60px;
      overflow: hidden;
    }

    a {
      .secondary {
        top: 11px;
        left: 5px;
      }
    }

    .ant-menu {
      display: flex;
      padding: 5px 0 0 5px;
      background-color: $layout-header-background;
      border-bottom: none;

      @include r(1024) {
        padding: 0;
        align-items: center;
      }

      .ant-menu-overflowed-submenu {
        display: none;
      }

      &-item:nth-child(2) {
        margin: 0 13px 0 13px;

        @include r(1024) {
          margin: 0 20px 0 13px;
        }
      }

      &-item:not(:nth-child(2)) {
        padding: 0;
        margin: 0 10px;
        @include r(1024) {
          margin: 0 20px;
        }
      }

      &-item {
        border-bottom: none;
        top: 0;

        &:hover {
          color: $white;
          border-bottom: none;
        }

        &:active {
          background-color: transparent;
        }

        a.link {
          @include geomanist-book;
          color: rgba($white, 0.67);
          border-bottom: 3px solid transparent;
          line-height: 24px;
          padding-bottom: 11px;
          text-decoration: none;

          @include r(1024) {
            font-size: 16px;
            line-height: 19px;
            padding-bottom: 22px;
          }

          &:before {
            bottom: 0;
          }

          &:hover {
            text-decoration: none;
            border-bottom-color: $white;
          }

          &.active {
            color: rgba($white, 1);
            border-bottom-color: $white;
          }
        }
      }
    }

    &__cta {
      top: 6px;
      position: relative;
    }
  }
}

.mobile-top-nav {
  padding-left: 10px;
}

.footer-menu-wrapper {
  background-color: $dk-mud;
  width: 100%;
  padding: 20px 32px;
  position: fixed;
  bottom: 0;

  .selected {
    color: $white !important;
    &:before {
      content: "";
      border: 2px solid $white;
      position: absolute;
      margin-left: -15px;
      height: 15px;
    }
  }

  .line {
    display: flex;
    flex-direction: column;
    border-left: 2px solid rgba($white, 0.67);
    margin-left: 12px;
  }

  &.expanded {
    padding-top: 24px;
  }
  p {
    font-size: 14px;
    color: $grey-2;
    padding-bottom: 12px;
  }

  .sub-menu-item-wrapper {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;

    .footer-menu-title {
      color: rgba($white, 0.87);
      font-size: 20px;
      @include geomanist-medium;
      padding-bottom: 12px;
      border-bottom: 1px solid rgba($white, 0.1);
      margin-bottom: 18px;
    }

    .footer-menu-item {
      color: rgba($white, 0.67);
      margin-bottom: 15px;
      font-size: $body1;
      text-decoration: none;
      padding-left: 12px;

      &.active {
        color: $white;
        @include geomanist-medium;
      }
    }
  }

  button {
    margin: 0 auto;
    display: flex;
    align-items: center;
    transition: none;
    @include geomanist-book;

    svg {
      margin-left: 5px;
    }
  }
}
