.contribute {
  flex-wrap: wrap;
  display: block !important;
  margin-bottom: 22px;
  justify-content: space-between;

  .title {
    color: rgba($black, 0.6);
    @include geomanist-regular;
    font-size: $font-size-base;
    letter-spacing: 0.14px;
  }

  .info-label {
    font-size: 12px;
    line-height: 18px;
    color: rgba($black, 0.47);
    position: absolute;
    top: 20px;
    padding-top: 15px;
    margin-left: 23px;
    @include r(1024) {
      margin-right: 85px;
      margin-left: 0px;
      padding-top: 0px;
      position: inherit;
    }
  }

  &--inactive {
    opacity: 0.3;
  }

  &--active {
    .title {
      color: $turquoise-dark;
    }
  }

  @include r(1024) {
    display: flex !important;
  }

  .rand {
    font-weight: 800;
    @include r(1024) {
      font-weight: normal;
    }
  }

  .change-amount {
    @include geomanist-book;
    color: rgba($black, 0.67);
    border-color: $black-4;
    font-size: $font-size-base;
    letter-spacing: 0.14px;
    margin-left: 24px;
    @include r(1024) {
      margin-left: 0;
    }
  }
}
