.btn-white {
  border-color: $white;
  color: $white;
}

button,
a {
  &.ant-btn {
    @include geomanist-book;

    &--left-icon {
      display: flex;
      align-items: center;

      .MuiSvgIcon-root {
        margin-right: 6px;
        width: 16px;
        height: 16px;
      }
    }

    &--delete-rec {
      border: none;
      border-radius: 0;
      left: -8px;
      top: 5px;
      @include btn-shadow;

      span {
        @include geomanist-regular;
      }
    }

    a {
      text-decoration: none;
    }
  }

  &.ant-btn[disabled] {
    background-color: $white;
    border: 1px solid rgba($black, 0.15);
  }

  &.ant-btn.secondary {
    border-color: $primary;
    color: $primary;
    background-color: transparent;

    &:active,
    &:hover,
    &:focus {
      background-color: transparent;
    }
  }

  &.btn-facebook {
    border-color: #1777f2;
    color: #ffffff;
    background-color: #1777f2;

    &:active,
    &:hover,
    &:focus {
      border-color: #1777f2;
      background-color: darken(#1777f2, 3);
    }
  }

  &.ant-btn-dangerous,
  &.ant-btn-dangerous:active,
  &.ant-btn-dangerous:hover,
  &.ant-btn-dangerous:focus {
    border-color: $danger;
    color: $danger;
  }

  &.ant-btn-dangerous--inverse,
  &.ant-btn-dangerous--inverse:active,
  &.ant-btn-dangerous--inverse:hover,
  &.ant-btn-dangerous--inverse:focus {
    color: $white;
    background-color: $danger;
    border: none;
  }

  .MuiSvgIcon-fontSizeSmall {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
  }
}
