$wizard-border-radius: 4px;

.wizard {
  margin: 30px 0;
  padding: 20px 16px;
  border-radius: $wizard-border-radius;
  border: 1px solid $white5;

  @include r(1024) {
    margin: 40px 0;
    padding: 40px;
    padding-bottom: 0;
  }

  @include mobile() {
    .ant-steps-horizontal.ant-steps-label-horizontal {
      display: flex;
      flex-direction: row;
      .ant-steps-item-title {
        display: none;
      }

      .ant-steps-item-content {
        min-height: 1px;
      }

      > .ant-steps-item > .ant-steps-item-container > .ant-steps-item-tail {
        position: absolute;
        top: 12px;
        left: 45%;
        width: 1px;
        height: 100%;
        padding: 0;
        &::after {
          width: 45px;
          height: 1px;
        }
      }
    }

    .ant-steps-item-finish
      > .ant-steps-item-container
      > .ant-steps-item-tail::after {
      background-color: $green;
    }

    .ant-steps-horizontal:not(.ant-steps-label-vertical) .ant-steps-item-tail {
      display: none;
    }
  }

  &-title {
    &.ant-steps-item-active {
      .ant-steps-item-content {
        > .ant-steps-item-title {
          color: $black-2;
          @include geomanist-regular;
          font-size: $font-size-base;
          letter-spacing: 0px;
        }
      }
      .ant-steps-item-icon {
        font-size: $font-size-base;
        .ant-steps-icon {
          @include geomanist-medium;
          font-size: $font-size-base;
        }
      }
    }
    .ant-steps-item-content {
      > .ant-steps-item-title {
        font-size: $font-size-base;
      }
    }
    .ant-steps-item-icon {
      font-size: $font-size-base;
    }
  }

  &-wrapper {
    display: flex;
    justify-content: center;
    padding: 23px 0 0 0;

    @include r(1024) {
      padding: 23px 0;
    }

    @include r(1280) {
      padding: 50px 120px;
    }

    .steps-content {
      width: 100%;
      @include r(1024) {
        width: 640px;
      }
    }

    .ant-form.custom {
      display: block;

      @include r(1024) {
        display: flex;
        justify-content: space-between;
      }

      .ant-form-item {
        width: 100%;
        @include r(1024) {
          width: calc(50% - 20px);
        }
      }
    }

    .steps-action {
      .btn-back {
        margin-top: 10px;
        @include r(1024) {
          margin-top: 0;
        }
      }
    }

    .ant-btn {
      @include geomanist-book;
      @media (max-width: 340px) {
        padding: 0 5px;
      }
    }

    .profile {
      border-radius: $wizard-border-radius;
      padding: 24px;
      margin: 20px 0;
      border: 1px solid $white5;
      @include r(1024) {
        padding: 24px 0;
        width: 420px;
      }
      &-image {
        width: 70px;
        height: 60px;
      }
      .info {
        color: $black;
        font-size: $font-size-base;
        letter-spacing: 0.14px;
        padding: 12px 0 7px 0;
      }
      .check-info {
        color: $green-1;
        @include geomanist-regular;
        font-size: $font-size-base;
        text-decoration: underline;
        cursor: pointer;
      }
    }

    .missing-info {
      color: $black-2;
      text-align: center;
      @include geomanist-medium;
      margin-bottom: 24px;
      font-size: 20px;
      @include r(1024) {
        font-size: 24px;
        margin-bottom: 32px;
      }
    }

    .missing-info-outer {
      display: flex;
      flex-direction: column;
      align-items: center;

      @include r(1024) {
        margin-bottom: 40px;
      }
    }
    .one-more-dont-have {
      border: 0;
      padding: 0;
      .ant-checkbox-wrapper {
        display: inline;
        margin: 0 8px 0 0;
      }
    }

    .missing-info-inner {
      width: 100%;
      @include r(1024) {
        width: 420px;
      }
    }

    .ant-form-item-label {
      line-height: normal;
      padding-bottom: 8px;
      > label {
        color: $black-2;
        @include geomanist-book;
        font-size: $font-size-base;
      }
    }
  }

  .sign-forms {
    justify-content: space-between;
    flex-direction: column;
    @include r(1024) {
      flex-direction: row;
    }

    .step-row {
      display: block;
      .ant-btn,
      .ant-upload {
        width: 100%;
      }

      @include r(1024) {
        display: flex;
        .ant-btn,
        .ant-upload {
          width: initial;
        }
      }
      .step-item {
        margin-bottom: 16px;
      }
    }

    .title {
      color: $black-2;
      @include geomanist-book;
      font-size: 16px;
      height: 19px;
      letter-spacing: 0px;
    }
    .subtitle {
      color: $black-5;
      @include geomanist-regular;
      font-size: 12px;
      height: 18px;
      letter-spacing: 0px;
      line-height: 18px;
    }

    .step-item {
      .step-title {
        color: $black-2;
        @include geomanist-regular;
        font-size: 12px;
      }
      .MuiSvgIcon-root {
        margin-right: 8px;
        height: 16px;
        width: 16px;
      }
      .ant-upload-list {
        width: 180px;
      }
    }

    .down-up-text {
      color: $black-2;
      @include geomanist-book;
      font-size: $font-size-base;
      height: 18px;
      letter-spacing: 0px;
    }

    .sign-section {
      width: 100%;
      padding: 20px;
      margin: 20px 0;
      border-radius: 2px;
      border: 1px solid $grey;

      @include r(1024) {
        width: 255px;
        margin: 0;
      }

      .title {
        margin-bottom: 24px;
        display: inline-block;
        color: $black;
        @include geomanist-book;
        font-size: $font-size-base;
        letter-spacing: 0.14px;
      }
      .item {
        margin-bottom: 10px;
        display: block;
        font-size: $font-size-base;
      }
    }
  }

  .arrow-item {
    height: 12px;
    width: 12px;
    color: $grey-2;
    display: flex;
    margin: 0 5px;
    margin-top: 24.5px;
  }

  .MuiSvgIcon-fontSizeSmall {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
  }
}

.wizard-drawer {
  .ant-drawer-body {
    padding: 0;
  }

  .ant-form-item-label {
    padding-top: 12px;
  }

  .ant-drawer-content-wrapper {
    @include mobile() {
      // using important here because extends not supporting inside @media
      width: 95% !important;
    }
  }

  .form-row {
    margin-bottom: 12px;
    display: block;
  }

  .ant-picker {
    width: 100%;
  }

  .drawer-title {
    color: $black-2;
    @include geomanist-medium;
    font-size: 24px;
    padding: 30px 24px 5px 24px;
    letter-spacing: 0;
  }

  .edit-icon {
    vertical-align: -2px;
    margin-right: 5px;
    height: 16px;
    width: 16px;
  }

  .action-buttons-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
  }

  .action-buttons {
    display: flex;
    justify-content: space-between;
  }

  .blocks {
    &.opaque {
      .block {
        opacity: 0.2;
      }
    }
    .block {
      border-bottom: 1px solid $white5;
      padding: 20px 37px 5px 32px;

      &.active {
        background: rgba($input-section-hover, 0.45);
        opacity: 1;
      }

      .title {
        @include geomanist-book;
        color: rgba($black, 0.37);
        font-size: $font-size-base;
        letter-spacing: 0.14px;
      }
      .label {
        flex: 2;
        color: $black-2;
        font-size: $font-size-base;
        font-weight: 300;
        letter-spacing: 0;
        line-height: 22px;
      }

      .value {
        flex: 2;
        font-size: $font-size-base;
        font-weight: normal;
        letter-spacing: 0;
        line-height: 22px;
        padding-left: 20px;
      }
      &:hover {
        background: rgba($input-section-hover, 0.4);
        transition: all 1s ease-out;
      }
    }
  }

  .ant-form-item {
    margin-bottom: 0;
    label {
      color: $black-2;
      @include geomanist-book;
      font-size: $font-size-base;
      letter-spacing: 0;
      margin-left: 0;
    }
  }

  .fixed {
    @include geomanist-book;
    position: absolute;
    background: $white;
    box-shadow: -2px 0px 6px 0px rgba($black, 0.2);
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 15px;
  }
}

.contrib-form {
  width: 100%;

  @include r(1024) {
    width: 398px;
    margin: 0 auto;
  }

  .w-60 {
    @include mobile() {
      width: 100%;
    }
  }

  .field--c {
    margin-left: 0px;
    @include r(1024) {
      margin-left: 23px;
    }
  }

  .form-item-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 23px;
    .button-wrapper {
      order: 1;
      align-self: flex-end;
      padding-top: 55px;
    }
    .ant-form-explain {
      margin-bottom: 16px;
    }

    @include r(1024) {
      flex-direction: unset;
      margin-left: 0;
      .button-wrapper {
        padding-bottom: 5px;
        padding-top: 0;
      }
    }
  }

  .MuiSvgIcon-fontSizeSmall {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
  }
}

.goal-button {
  display: flex;
  align-items: center;
  width: 265px;
  margin: 0 auto;
  justify-content: center;
  border: 1px solid $black-4;
  border-radius: 2px;
  cursor: pointer;
  &:hover,
  &:focus {
    color: $blue;
    border-color: $blue;
  }
  .goal-text {
    color: $black-2;
    @include geomanist-book;
    font-size: $font-size-base;
  }
}

.ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-icon {
  background: $green;
  border-color: $green;
}

.ant-steps-item-finish .ant-steps-item-icon {
  border-color: $green;
  > .ant-steps-icon {
    color: $green;
  }
}

.ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-title::after {
  background-color: $green;
}

.ant-popover-inner-content {
  .inner-content {
    color: $black-2;
    @include geomanist-regular;
    font-size: $font-size-base;
    height: 20px;
    letter-spacing: 0px;
    line-height: 20px;
    margin: 5px 20px 0 20px;
  }
}

.content-wrapper {
  .recom-title {
    color: $black-2;
    @include geomanist-bold;
    font-size: 30px;
    @include r(1024) {
      font-size: 48px;
    }
  }
}

.policy-opts {
  &__inner {
    @include r(1024) {
      width: 520px;
      margin: 0 auto;
    }

    .needsBeneficiary {
      .ant-form-item {
        margin-bottom: 0;
      }
    }
  }
  &__content {
    &:not(:first-child) {
      margin: 60px 0 30px 0;
    }
    .policy-form {
      .ant-picker {
        width: 100%;
      }
    }
  }
  &__title {
    @include geomanist-medium;
    @include font-size($body3);
    color: $black-2;
    margin-bottom: 26px;
  }

  .row-error {
    .ant-table-cell-fix-left,
    .ant-table-cell-fix-right,
    .ant-table-cell {
      @include geomanist-book;
      background: $red-9;
      color: $red-8;

      .ant-input-number {
        border-color: $red-7;
      }

      .table-total {
        font-size: $body2;
        color: $red-7;
      }
    }

    td.ant-table-cell-fix-right-first::before {
      border-color: transparent transparent transparent $red-7;
    }

    td.ant-table-cell-fix-right-first {
      border-left: 3px solid $red-7;
    }
  }
}

.wizard-sidebar-form {
  padding: 0 24px 90px 24px;

  &__footer {
    @include geomanist-book;
    position: absolute;
    background: $white;
    box-shadow: -2px 0px 6px 0px rgba($black, 0.2);
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 14px;
    display: flex;
    justify-content: space-between;
  }
}
