.ant-modal-mask {
  background-color: rgba($black,0.6);
}

.modal {
  .ant-modal-body {
    @include r(1024) {
      min-width: 420px;
    }
  }

  .ant-modal {
    position: static;
    padding-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .ant-modal-close {
    display: none;
  }

  .modal-inner-wrapper {
    padding: 6px;
    display: flex;

    .modal-left-col {
      margin-right: 14px;
      .error-icon {
        fill: $warning2;
      }
    }

    .modal-right-col {
      flex-grow: 1;
      .modal-title {
        @include geomanist-book;
        color: rgba($black,0.87);
        font-size: 16px;
        margin-bottom: 12px;
      }

      .modal-body {
        line-height: 20px;
      }

      .modal-action-btns {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;

        .primary-action {
          margin: 22px 0  0 8px;
        }
      }
    }
  }
}
