.beneficiaries {
  .ant-form-item {
    margin-bottom: 5px;
  }

  .ant-popover-title {
    padding: 16px 24px;
  }

  .record-editor-none {
    margin-top: 14px;
    padding: 60px 40px 40px;

    img {
      width: 80px;
    }
  }

  .ant-table-footer {
    background: transparent;
  }

  .ant-table-title {
    display: flex;
    justify-content: center;
  }

  .ant-table-filter-trigger-container {
    display: flex;
    align-items: center;
    &:hover {
      background: transparent;
    }

    .MuiSvgIcon-root {
      font-size: $body-18;
    }
  }

  .ant-table-filter-trigger {
    display: flex;
  }

  .ant-input-number-input {
    color: rgba($black, 0.87);
    @include geomanist-regular;
    font-size: $body1;
    letter-spacing: 0.14px;
  }

  .ant-table-filter-column-title,
  th.ant-table-cell-fix-left-last {
    color: rgba($black, 0.87);
    @include geomanist-book;
    font-size: $body1;
    letter-spacing: 0px;
    line-height: 18px;
  }

  th.ant-table-cell,
  td.ant-table-cell {
    vertical-align: middle;
  }

  td.ant-table-cell-fix-right-first {
    border-left: 3px solid $black;
    background: $blue-6;
    text-align: center;

    &::before {
      position: absolute;
      top: calc(50% - 7.5px);
      left: -1px;
      content: "";
      display: inline-block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 7.5px 0 7.5px 5px;
      border-color: transparent transparent transparent $black;
    }

    &::after {
      bottom: auto;
    }
  }

  .ant-table-ping-left .ant-table-cell-fix-left-first::after,
  .ant-table-ping-left .ant-table-cell-fix-left-last::after {
    box-shadow: none;
  }

  .ant-table-ping-right .ant-table-cell-fix-right-first::after {
    box-shadow: none;
  }

  .ant-table-cell-fix-left,
  .ant-table-cell-fix-right {
    position: relative !important;
    @include r(1024) {
      position: sticky !important; // using !important cause of media query
    }
  }

  .table-total {
    color: $black;
    @include geomanist-book;
    font-size: $body2;
    letter-spacing: 0px;
  }

  .policy-opts__title {
    color: rgba($black, 0.87);
    @include geomanist-medium;
    font-size: $body-18;
    letter-spacing: 0px;
    margin-bottom: 12px;

    @include r(1024) {
      font-size: $body3;
    }
  }

  .policy-opts__note {
    color: rgba($black, 0.47);
    @include geomanist-regular;
    font-size: $body1;
    letter-spacing: 0px;
    line-height: 22px;
  }

  .policy-opts__content:not(:first-child) {
    margin: 12px 0 0 0;
  }

  .make-equal {
    text-decoration: underline;
    line-height: 20px;
    width: 200px;
    white-space: normal;
    margin-top: -20px;
    padding: 10px 0 30px 0;
    @include r(1024) {
      width: inherit;
      margin-top: 0;
      padding: 0;
    }
  }
}

.has-related-person,
.has-no-related-person {
  .ant-popover-content {
    border: none;
    width: 235px;
  }
}

.has-no-related-person {
  .ant-popover-title {
    color: rgba($black, 0.47);
    @include geomanist-regular;
    font-size: $body;
    letter-spacing: 0px;
    line-height: 20px;
    text-align: center;
  }
}

.has-related-person {
  .ant-popover-inner-content {
    padding: 0;
  }

  .center-content {
    padding: 20px;
    border-top: 1px solid rgba($black, 0.12);
  }

  &__block {
    &:hover {
      background: $white-9;
    }
  }

  &__title {
    > span {
      @include geomanist-regular;
      color: rgba($black, 0.87);
      font-size: $body1;
      letter-spacing: 0px;
      line-height: 22px;
    }

    &:hover {
      color: rgba($black, 0.87);
    }
  }

  .ant-popover-title {
    color: rgba($black, 0.47);
    @include geomanist-regular;
    font-size: $body;
    letter-spacing: 0px;
    line-height: 20px;
    text-align: center;
  }
}

.error-tooltip {
  .tooltip-alert-text {
    color: $black;
    @include geomanist-book;
    font-size: $body1;
  }
  .ant-tooltip-arrow-content {
    width: 10px;
    height: 10px;
  }

  .ant-tooltip-inner {
    padding: 14px;
  }
}

.ant-popover-placement-bottom,
.ant-popover-placement-bottomLeft,
.ant-popover-placement-bottomRight,
.ant-popover-placement-top,
.ant-popover-placement-topLeft,
.ant-popover-placement-topRight {
  padding-bottom: 0;
  padding-top: 0;
}
