.search-bar {
  height: 50px;
  display: flex;
  background-color: royalblue;
  box-shadow: 0px 0px 10px $black;
  align-items: center;
  padding: 20px 30px;

  input {
    color: white;
    padding: 10px;

    &::after {
      content: "";
    }
  }

  .MuiInputAdornment-root {
    margin-top: 0 !important;
  }

  .MuiCircularProgress-root {
    width: 30px !important;
    height: 30px !important;
    margin-left: 15px;
  }
}

.search-page {
  display: flex;
  flex-direction: column;
}

.search-deezer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 40px;
  width: 250px;
  align-self: center;
  margin-top: 100px;
}

.search-results-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px;
  .search-result {
    display: flex;
    width: 320px;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    a {
      text-decoration: none;
    }
    p {
      color: white;
      &.artist {
        font-size: 18px;
        padding: 10px;
      }
      &.fans {
        font-size: 14px;
        padding: 0 0 10px 10px;
      }
    }
    img {
      max-width: 100%;
    }
  }
}
