// headings
$h1-grand: 78px;
$h1-hefty: 78px;
$h1-mobile: 30px;
$h1-desktop: 46px;
$h2-mobile: 20px;
$h3-mobile: 22px;
$h2-desktop: 32px;
$h2: 54px;
$h3: 24px;
$h4: 20px;
$h5: 18px;
$h6: 12px;

// body
$body: 12px;
$body1: 14px;
$body2: 16px;
$body-18: 18px;
$body3: 20px;
$body4: 24px;
$body5: 28px;

// subtitle
$subTitle1: 16px;
$subTitle2: 14px;

// button
$btn: 18px;

// Forms
$border-radius-base: 2px;

$font-size-base: 14px;

