// https://www.benmarshall.me/responsive-iframes/
.iframe-container {
  overflow: hidden;
  padding-top: 70%;
  position: relative;
  height: calc(100vh - 220px);

  @include r(1024) {
    height: 90vh;
  }

  iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
