$spacing: (5, 10, 12, 15, 20, 25, 30, 35, 40, 45, 50, 60, 75, 100);
$sides: (top, bottom, left, right);

@each $space in $spacing {
  @each $side in $sides {
    .m#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space}px !important;
    }

    .m-#{$space} {
      margin: #{$space}px !important;
    }

    .p#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space}px !important;
    }

    .p-#{$space} {
      padding: #{$space}px !important;
    }
  }
}

.no-padd {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.p-t-none {
  padding-top: 0;
}

.margin-top-none {
  margin-top: 0 !important;
}

.top-space {
  margin-top: 40px;
}
