.hide-mobile, .hide-mobile--flex {
  display: none !important;

  @include r(1024) {
    display: block !important;

    &--flex {
      display: flex !important;
    }
  }
}

.hide-desktop {
  @include r(1024) {
    display: none !important;
  }
}

.hidden {
  display: none !important;
}

// Display
.i-block {
  display: inline-block !important;
}

.inline {
  display: inline !important;
}

.block {
  display: block !important;
}

.flex {
  display: flex !important;
}

.top-nav-wrapper {
  .menuitem-overflowed {
    display: inline-block !important;
  }
}

.no-underline {
  text-decoration: none;
}

.no-padding {
  padding: 0 !important;
}

.pos-rel {
  position: relative !important;
}

.pos-abs {
  position: absolute !important;
}

.pos-sticky {
  position: sticky !important;
}
